<div class="items-list effects-list">
  {{#each effects as |section sid|}}
  <div class="category-header flex-cont">
    <label class="category-name effect-name ">{{localize section.label}}</label>
    <div class="item-controls effect-controls ">
      <a class="effect-control" data-action="create" data-type="{{section.type}}" title="create-effect">
        <span class="icon-button center-align">
          <img class="icon-img" src="systems/nullgame/assets/add_box.svg">
          {{localize "DOCUMENT.New" type="Effect"}}
        </span>
      </a>
    </div>
  </div>
  <div class="category-body">
    {{#each section.effects as |effect|}}
    <div class="item-list-component flex-cont">
      <div class="item-details flex-cont">
        <div class='item-image center-align'>
          <img src="{{effect.icon}}" width='24' height='24' />
        </div>
        <span class="item-name item-detail-label">{{effect.name}}</span>
      </div>
      <div class="effect-counter flex-cont">
          <input type="number" class="effect-counter-input" name="effect.counter" data-id="{{effect.id}}" value="{{effect.counter}}">
        </div>
      <div class="item-controls center-align">
        <a class="icon-button effect-control center-align" data-id="{{effect.id}}" data-action="toggle"
          title="effect-toggle">
          <i class=" icon-img fas {{#if effect.disabled}}fa-check{{else}}fa-times{{/if}}" style="font-size: 24px; margin: 0 3px;"></i>
        </a>
        <a class="icon-button effect-control center-align" data-id="{{effect.id}}" data-action="edit"
          title="effect-edit">
          <img class="icon-img" src="systems/nullgame/assets/edit.svg">
        </a>
        <a class="icon-button effect-control delete-button center-align" data-id="{{effect.id}}" data-action="delete"
          title="effect-delete">
          <img class="icon-img" src="systems/nullgame/assets/delete.svg">
        </a>
      </div>
    </div>
    {{/each}}
  </div>
  {{/each}}
</div>
<div class="global-effect-grid">
  {{#each globalEffects.effects as |effect|}}
    <div class="global-effect-item center-align">
      <div class='item-image center-align global-effect-image'>
          <img class="effect-image" src="{{effect.icon}}" width='40' height='40' />
        </div>
      <div class="item-details global-effect-details">
        <span class="item-name item-detail-label" style= "font-widg: bold">{{effect.name}}</span>
        <input type="number" class="effect-counter-input" name="effect.counter" data-id="{{effect.id}}" value="{{effect.counter}}">
      </div>
      <div class="item-controls global-effect-controls">
        <a class="icon-button effect-control center-align" data-id="{{effect.id}}" data-action="toggle"
          title="effect-toggle">
          <i class=" icon-img fas {{#if effect.disabled}}fa-toggle-on{{else}}fa-toggle-off{{/if}}" style="font-size: 24px; margin: 0 3px;"></i>
        </a>
        {{#if ../isGM}}
        <a class="icon-button effect-control center-align" data-id="{{effect.id}}" data-action="edit"
          title="effect-edit">
          <img class="icon-img" src="systems/nullgame/assets/edit.svg">
        </a>
        {{/if}}
      </div>
    </div>
  {{/each}}
</div>