{{#each features as |category categoryKey|}}
{{#unless (eq categoryKey 'uncategorized')}}
<div class="category-header flex-cont">
    <div class="category-name">
        <input class="category-name-input" type="text" name="system.categories.features.{{categoryKey}}"
            value="{{category.label}}">
    </div>
    <div class="tool-section">
        <a class="tool-button icon-button create-item center-align" data-type='feature' data-category='{{categoryKey}}'>
            <span class="span-button center-align">
                <img class="icon-img" src="systems/nullgame/assets/add_box.svg">
                Create Item{{!TODO localize }}
            </span>
        </a>
        <a class="tool-button delete-button delete-category" data-type='feature' data-category='{{categoryKey}}'>
            <img class="icon-img" src="systems/nullgame/assets/delete.svg">
        </a>
    </div>
</div>
<div class="category-body">
    {{#each category.items as |item id|}}
    <div class="item-list-component flex-cont">
        <div class="item-name flex-cont">
            <div class='item-image center-align'>
                <img src='{{item.img}}' title='{{item.name}}' width='24' height='24' />
            </div>
            <span>
                {{item.name}}
            </span>
        </div>
        <div class='item-controls center-align'> 
            <a class="icon-button roll-item center-align" data-id="{{item._id}}">
                <img class="icon-img" src="systems/nullgame/assets/dice_d20.svg">
            </a>
            <a class="icon-button item-edit center-align" data-id="{{item._id}}">
                <img class="icon-img" src="systems/nullgame/assets/edit.svg">
            </a>
            <a class="tool-button delete-button delete-item center-align" data-id="{{item._id}}">
                <img class="icon-img" src="systems/nullgame/assets/delete.svg">
            </a>
        </div>
    </div>
    {{/each}}
</div>
{{/unless}}
{{/each}}
<div class="uncategorized-feature-container">
    <div class="category-header flex-cont">
        <div class="category-name">{{features.uncategorized.label}}</div>
        <div class="tool-section">
            <a class="tool-button icon-button create-item center-align" data-type='feature' data-category='{{uncategorized}}'>
                <span class="span-button center-align">
                    <img class="icon-img" src="systems/nullgame/assets/add_box.svg">
                    Create Item{{!TODO localize }}
                </span>
            </a>
            <a class="tool-button icon-button create-category center-align" data-type='features'>
                <span class="span-button center-align">
                    <img class="icon-img" src="systems/nullgame/assets/playlist_add.svg">
                    Create Category {{!TODO localize }}
                </span>
            </a>
            
            </div>
    </div>
    <div class="category-body">
        {{#each features.uncategorized.items as |item id|}}
        <div class="item-list-component flex-cont">
            <div class="item-name flex-cont">
                <div class='item-image'>
                    <img src='{{item.img}}' title='{{item.name}}' width='24' height='24' />
                </div>
                <span>
                    {{item.name}}
                </span>
            </div>
            <div class='item-controls center-align'>
                <a class="icon-button item-edit center-align" data-id="{{item._id}}">
                    <img class="icon-img" src="systems/nullgame/assets/edit.svg">
                </a>
            </div>
        </div>
        {{/each}}
    </div>
</div>