<form class="{{cssClass}} {{actor.type}}" autocomplete="off">
    <header class="sheet-header">
        <div class="img-container flex-cont" style="flex:auto">
            <img class="profile-img" src="{{actor.img}}" data-edit="img"
                title="{{actor.name}}" height="100" width="100" />
        </div>
        <div class="header-container" style="flex: 7;">
            <div class="first-header-container flex-cont">
                <div class="name-container">
                    <input name="name" type="text" value="{{actor.name}}" class="header-input"
                        placeholder="{{localize 'NULL_GAME.SheetPH.Name'}}" />
                </div>
                <div class="level-container">
                    <input type="number" name="system.level" value="{{system.level}}"
                        class="header-input input-bordeless" data-dtype="Number" />
                    <label for="system.level">{{localize 'NULL_GAME.SheetLabel.Level'}}</label>
                </div>
            </div>
            <div class="second-header-container flex-cont">
                <select class="select-header" name="system.size" data-type="string">
                    {{#select system.size}}
                    <option value="small">{{localize 'NULL_GAME.SizesLabel.Small'}}</option>
                    <option value="medium">{{localize 'NULL_GAME.SizesLabel.Medium'}}</option>
                    <option value="large">{{localize 'NULL_GAME.SizesLabel.Large'}}</option>
                    <option value="huge">{{localize 'NULL_GAME.SizesLabel.Huge'}}</option>
                    {{/select}}
                </select>
                <div class="text-header-container flex-cont">
                    {{#each system.textBoxs as |textBox key|}}
                    <input class="tb-header-{{key}} input-bordeless" type="text" name="system.textBoxs.{{key}}"
                        value="{{textBox}}">
                    {{/each}}
                </div>
            </div>
            <div class="third-header-container flex-cont">
                {{#each system.bars as |bar key|}}
                <div class="bar-header-container flex-cont">
                    <div class="bar-label-container">
                        <label for="system.bars.{{key}}">
                            <input class="bar-header-label input-bordeless" type="text" name="system.bars.{{key}}.label"
                                value="{{bar.label}}" placeholder="{{localize 'NULL_GAME.SheetPH.Bar'}}">
                        </label>
                    </div>
                    <div class="bar-header-values flex-cont">
                        <input class="bar-header-num input-bordeless" type="number" data-dtype="number" min="0"
                            max="{{bar.max}}" name="system.bars.{{key}}.value" value="{{bar.value}}">
                        <span class="slash-bar">/</span>
                        <input class="bar-header-num input-bordeless" type="number" data-dtype="number" min="0"
                            name="system.bars.{{key}}.max" value="{{bar.max}}">
                    </div>
                </div>
                {{/each}}
            </div>
        </div>
    </header>
    <nav class="sheet-tabs tabs" data-group="primary">
        <a class="item" data-tab="features">{{localize 'NULL_GAME.Tabs.Features'}}</a>
        <a class="item" data-tab="effects">{{localize 'NULL_GAME.Tabs.Effects'}}</a>
        <a class="item" data-tab="skills">{{localize 'NULL_GAME.Tabs.Skills'}}</a>
        <a class="item" data-tab="biography">{{localize 'NULL_GAME.Tabs.Biography'}}</a>
    </nav>
    <section class="sheet-body">
        <div class="tab features"data-tab="features">
            {{> "systems/nullgame/templates/actor/tabs/feature-tab.hbs"}}
        </div>
        <div class="tab effects"data-tab="effects">
            {{> "systems/nullgame/templates/actor/tabs/effects-tab.hbs"}}
        </div>
        <div class="tab skills"data-tab="skills">
            {{> "systems/nullgame/templates/actor/tabs/skills-tab.hbs"}}
        </div>
        <div class="tab biography"data-tab="biography">
            <div class="biography-editor-container">
                {{editor biographyHTML target="system.biography" button=true editable=editable
            engine="prosemirror" collaborate=false}}
            </div>
        </div>
    </section>
</form>