<div class="details-tab">
    <div class="usage-container">
        <h3>Feature Usage</h3>
        <div class="target-container flex-cont">
            <label class="label-usage" for="system.details.target">Target</label> {{! TODO localize}}
            <div class="usage-inputs-container flex-cont">
                <input type="text" class="input-box" name="system.details.target.value"
                    value="{{system.details.target.value}}">

                <select class="input-box" name="system.details.target.type">
                    {{#select system.details.target.type}}
                    <option value="circular">Circular</option>
                    <option value="cone">Cone</option>
                    <option value="ray">Ray</option>
                    <option value="square">Square</option>
                    <option value="self">Self</option>
                    <option value="creature">Creature</option>
                    {{/select}}
                </select>
            </div>
        </div>
        <div class="range-container flex-cont">
            <label class="label-usage" for="system.details.range">Range</label> {{! TODO localize}}
            <div class="usage-inputs-container flex-cont">
                <input class="input-box" type="number" name="system.details.range.normal"
                    value="{{system.details.range.normal}}" title="Normal Range"> {{! TODO changed title by tooltip}}
                <input class="input-box" type="number" name="system.details.range.long"
                    value="{{system.details.range.long}}" title="Long Range"> {{! TODO changed title by tooltip}}
                <select class="input-box" name="system.details.range.units">
                    {{#select system.details.range.units}}
                    <option value="sq">Squares</option>
                    <option value="miles">Miles</option>
                    <option value="meters">Meters</option>
                    {{/select}}
                </select>
            </div>

        </div>
        <div class="duration-container flex-cont">
            <label class="label-usage" for="system.details.duration">Duration</label>{{! TODO localize}}
            <div class="usage-inputs-container flex-cont">
                <input class="input-box" type="number" data-dtype="Number" name="system.details.duration.value"
                    value="{{system.details.duration.value}}">
                    <span class="unit-label center-align">Rounds</span>
            </div>

        </div>
        <div class="consumption-container flex-cont">
            <label class="label-usage" for="system.details.consumption">Resources</label>{{! TODO localize}}
            <div class="usage-inputs-container flex-cont">
                <input class="input-box" type="number" name="system.details.consumption.qty" value="{{system.details.consumption.qty}}">
                <select class="input-box" name="system.details.consumption.rscType">
                    {{#select system.details.consumption.rscType}}
                            <option value=""></option>
                        {{#each consumableResources as |rsc key|}}
                            <option value="{{key}}">{{key}}</option>  {{! TODO localize}}
                        {{/each}}
                    {{/select}}
                </select>
                <select class="input-box" name="system.details.consumption.rsc">
                    {{#select system.details.consumption.rsc}}
                    {{#if (eq system.details.consumption.rscType 'bars')}}
                        {{#each consumableResources.bars as |bar barKey|}}
                        <option value="{{barKey}}">{{bar.label}}</option>

                        {{/each}}
                    {{else if (eq system.details.consumption.rscType 'items')}}
                        {{#each consumableResources.items as |item itemKey|}}
                        <option value="{{item.id}}">{{item.name}}</option>
                        {{/each}}
                    {{/if}}
                    {{/select}}
                    
                </select>
            </div>

        </div>
    </div>
    <div class="attack-container">
        <h3>Feature Attack</h3>
        <div class="action-type-container flex-cont">
            <label class="label-attack" for="system.details.attackType">Attack Type</label> {{! TODO localize}}
            <div class="attack-inputs-container">
                <select class="attack-type-select" name="system.details.attackType">
                    {{#select system.details.attackType}}
                        <option value="none-attack"></option>
                        <option value="melee-attack">Melee Attack</option>
                        <option value="range-attack">Range Attack</option>
                        <option value="spell-attack">Spell Attack</option>
                    {{/select}}
                </select>
            </div>
        </div>
        <div class="damage-formula-container flex-cont">
            <label for="system.rollFormula.damagesFormulas" class="label-attack"> Damage Formulas </label> {{! TODO localize}}
            <div class="formulas-container attack-inputs-container">
                {{#each system.rollFormula.damagesFormulas as |damageFormula key| }}
                <div class="damageFormula.{{key}}.container flex-cont formula-container">
                    <input type="text" class="input-box" name="system.rollFormula.damagesFormulas.{{key}}.formula" value="{{damageFormula.formula}}" placeholder="2d6">
                    <input type="text" class="input-box"  name="system.rollFormula.damagesFormulas.{{key}}.type" value="{{damageFormula.type}}" placeholder="Fire"> {{! TODO localize}}
                    <a class="delete-damage-formula delete-button center-align" data-key="{{key}}">
                        <img class="icon-img" src="systems/nullgame/assets/delete.svg">
                    </a>
                </div>
                {{/each}}
            </div>
        </div>
        <div class="add-button-container">
            <a class="add-damage-formula add-button center-align" title="add damage"> {{!TODO use tooltip, localize}}
                <img class="icon-img" src="systems/nullgame/assets/add_box.svg">
                </a>
        </div>
        <div class="other-formula-container flex-cont">
            <label class="label-attack" for="system.rollFormula.formula"> Other Formula</label> {{! TODO localize}}
            <div class="attack-inputs-container">
                <input type="text" class="input-box"  name="system.rollFormula.formula" value="{{system.rollFormula.formula}}">
            </div>
        </div>
    </div>
</div>