<form class="{{cssClass}}" autocomplete="off">
  <header class="sheet-header">
    <div class="img-container flex-cont">
      <img class="profile-img" src="{{item.img}}" data-edit="img" title="{{item.name}}" height="100" width="100" />
    </div>
    <div class="header-container">
      <div class="first-header-container flex-cont">
        <div class="name-container">
          <input name="name" class="header-input" type="text" value="{{item.name}}"
            placeholder="{{localize 'NULL_GAME.SheetPH.Name'}}" />
        </div>
      </div>
      <div class="second-header-container flex-cont">
        <div class="category-select-header second-header-box">
          <select class="select-category" name="system.category" data-type="string">
            {{#select system.category}}
            {{#each features as |category key|}}
            <option value="{{key}}">
              {{#if (ne key "uncategorized")}}
              {{category}}
              {{/if}}
            </option>
            {{/each}}
            {{/select}}
          </select>
        </div>
        <div class="ammo-checkbox-header flex-cont second-header-box">
          <label class="ammo-label" for="system.isResource">Is Ammo:</label>
          <input name="system.isResource" type="checkbox" value="{{system.isResource}}" {{checked system.isResource}}
            data-dtype="Boolean">
        </div>
        {{#if system.isResource}}
        <div class="ammo-quantity-header flex-cont second-header-box">
          <label class="ammo-label center-align" for="system.quantity"> Quantity:</label>
          <input class="quantity-input" type="number" name="system.quantity" value="{{system.quantity}}">
        </div>
        {{/if}}
      </div>
    </div>
  </header>
  <nav class="sheet-tabs tabs">
    <a class="item" data-tab="description">{{localize 'NULL_GAME.Tabs.Description'}}</a>
    <a class="item" data-tab="details">{{localize 'NULL_GAME.Tabs.Details'}}</a>
  </nav>
  <section class="sheet-body">
    <div class="tab description" data-tab="description">
      {{> 'systems/nullgame/templates/item/tabs/description-tab.hbs'}}
    </div>
    <div class="tab details" data-tab="details">
      {{> 'systems/nullgame/templates/item/tabs/details-tab.hbs'}}
    </div>
  </section>

</form>